<%= javascript_include_tag "discover" %>
<%= javascript_include_tag "relationships" %>
<%= javascript_include_tag "home" %>
<%= javascript_include_tag "image_modal" %>
<%= javascript_include_tag "relationships_modal" %>
<%= javascript_include_tag "post_settings_modal" %>
<%= render 'shared/main_nav_bar' %>
<%= render 'shared/image_upload_modal' %>

<div class="discover-body">
	<div class="container">
		<% if @suggestions %>
			<div class="explore" style="margin-top: 10%;">
				<h1>Discover People</h1>
			</div>

			<div class="carousel slide" data-type="multi" id="myCarousel">
				<div class = "frame">
					<div class="carousel-inner">
						<div class="item active">
  						<div class="center-card first-card">
								<div class="profile-card">
									<p class="profile-card-username"><%=link_to @suggestions.first.username, profile_path(@suggestions.first.id)%></p>
									<a href="<%=profile_path(@suggestions.first.id) %>">
									<div class="image">
										<div class="circle-1"></div>
										
										<div class="circle-2"></div>
										<a href="<%=profile_path(@suggestions.first.id) %>">
										<% if @suggestions.first.profile_image.profile.url.nil? %>
											<img src="/default-dog.png" width="70" height="70" alt="Jessica Potter">
										<% else %>
											<img src="<%=@suggestions.first.profile_image.profile_post2.url%>" width="70" height="70" alt="Jessica Potter">
										<% end %>
									</div>
									</a>				
					
									<div class="card-name"><%=@suggestions.first.name %></div>
									<div class="card-animal"><%=@suggestions.first.animal%></div>
			
									<div class="card-actions card-actions-<%=@suggestions.first.id%>">
										<% if current_profile.following?(@suggestions.first) %>
											<button class="card-btn unfollow-btn following-btn-<%=@suggestions.first.id%>" id= "following-btn-<%=@suggestions.first.id%>">Unfollow</button>
										<% else %>
											<button class="card-btn follow-btn follow-btn-<%=@suggestions.first.id%>" id= "follow-btn-<%=@suggestions.first.id%>">Follow</button>
	
										<% end %>
									</div>
								</div>
		
								<div class="card-stats">
										<div class="card-box" style="cursor: default;">	
											<span class="card-value"><%=@suggestions.first.posts.count%></span>
											<span class="card-parameter">Posts</span>
										</div>
									<% if @suggestions.first.followers.count == 0 %>
										<div class="card-box" style="cursor: default;"id="followers-<%=@suggestions.first.id%>">

									<% else %>
										<div class="card-box followers-modal-toggle" id="followers-<%=@suggestions.first.id%>">
									<% end %>
										<span class="card-value"><%=@suggestions.first.followers.count%></span>
										<span class="card-parameter">Followers</span>
									</div>
									
									<% if @suggestions.first.following.count == 0 %>
										<div class="card-box" style="cursor: default;" id="following-<%=@suggestions.first.id%>">
									<% else %>
										<div class="card-box following-modal-toggle" id="following-<%=@suggestions.first.id%>">
									<% end %>
										<span class="card-value"><%=@suggestions.first.following.count%></span>
										<span class="card-parameter">Following</span>
									</div>
								</div>
  						</div>
						</div>
					<% @suggestions[1..@suggestions.count].each do |profile| %>
						<div class="item">		
  						<div class="center-card second-card">
    
								<div class="profile-card">
									<p class="profile-card-username"><%=link_to profile.username, profile_path(profile.id)%></p>

									<a href="<%=profile_path(profile.id)%>">
									<div class="image">
										<div class="circle-1"></div>
										<div class="circle-2"></div>
										<% if !profile.profile_image.profile.url.nil? %>
											<img src="<%=profile.profile_image.profile_post2.url%>" width="70" height="70" alt="<%=profile.username%>">
										<% else %>
											<img src="/default-dog.png" width="70" height="70" alt="<%=profile.username%>">
										<% end %>
									</div>
									</a>			

									<div class="card-name"><%=profile.name%></div>
									<div class="card-animal"><%=profile.animal%></div>
			
									<div class="card-actions card-actions-<%=profile.id%>">
										<% if current_profile.following?(profile) %>
											<button class="card-btn unfollow-btn following-btn-<%=profile.id%>" id= "following-btn-<%=profile.id%>">Unfollow</button>
											<%# button_to "Unfollow", unfollow_path( :followed => profile.id ), :method => :delete, :class => "card-btn unfollow-btn", :id => "following-btn-#{profile.id}", :remote => true %>
										<% else %>
											<%# button_to "Follow", follow_path( :followed => profile.id ), :method => :post, :class => "card-btn follow-btn" :id => "follow-btn-#{profile.id}", :remote => true %>
											<button class="card-btn follow-btn follow-btn-<%=profile.id%>" id= "follow-btn-<%=profile.id%>">Follow</button>
										<% end %>
									</div>
								</div>
		
								<div class="card-stats">
									<div class="card-box" style="cursor: default;">
										<span class="card-value"><%=profile.posts.count%></span>
										<span class="card-parameter">Posts</span>
									</div>
									
									<% if profile.followers.count == 0 %>
										<div class="card-box" style="cursor: default;" id="followers-<%=profile.id%>">
									<% else %>
										<div class="card-box followers-modal-toggle" id="followers-<%=profile.id%>">
									<% end %>
										<span class="card-value"><%=profile.followers.count%></span>
										<span class="card-parameter">Followers</span>
									</div>
									
									<% if profile.following.count == 0 %>
										<div class="card-box" style="cursor: default;" id="following-<%=profile.id%>">
									<% else %>
										<div class="card-box following-modal-toggle" id="following-<%=profile.id%>">
									<% end %>
										<span class="card-value"><%=profile.following.count%></span>
										<span class="card-parameter">Following</span>
									</div>
								</div>
  						</div>
						</div>
					<% end %>
<!--
				<div class="item">
					<div class="center-card third-card">
    
						<div class="profile-card">
							
							<div class="image">
								<div class="circle-1"></div>
								<div class="circle-2"></div>
								<img src="http://100dayscss.com/codepen/jessica-potter.jpg" width="70" height="70" alt="Jessica Potter">
							</div>
			
							<div class="card-name">Jessica Potter</div>
							<div class="card-animal">Visual Artist</div>
			
							<div class="card-actions">
								<button class="card-btn">Follow</button>
								
							</div>
						</div>
		
						<div class="card-stats">
							<div class="card-box">
								<span class="card-value">523</span>
								<span class="card-parameter">Posts</span>
							</div>
							<div class="card-box">
								<span class="card-value">1387</span>
								<span class="card-parameter">Followers</span>
							</div>
							<div class="card-box">
								<span class="card-value">146</span>
								<span class="card-parameter">Following</span>
							</div>
						</div>
					</div>
  			</div>
		-->		
				</div>
				<a href="#myCarousel" class="carousel-control left" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a href="#myCarousel" class="carousel-control right" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div>
		</div>
	<% end %>

<div class="explore">
	<h1>Explore</h1>
</div>

	<div class="row" style="margin-top: 5%;">
		<% @popular.each do |post| %>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<a>
					<div class="profile-post-container" id="post-container-<%=post.id%>">
						<%= image_tag post.image.profile_post.url, class: "profile-post-img img-responsive" %>
						<div class="img-hover-buttons">
								<p>	<%=image_tag "/dog-pawprint-on-a-heart3.png", class: "img-hover-heart"%> <span class="img-hover-likes">&nbsp;<%=post.get_upvotes.size%></span>
							&nbsp;<span class="img-hover-comment glyphicon glyphicon-comment"></span>&nbsp;<span class="img-hover-comments"><%=post.comments.count%></span>
						</p>
				
						</div>
					</div>
				</a>
			</div>
		<% end %>
	</div>
</div>
</div>
<div class="page-overlay"></div>
