<div class="limiter">
	<div class="container-login100 welcome-page">
		<div class="wrap-login100">
			<div class="login100-form-title" style="background-image: url(/welcome3.png);">
				<span class="login100-form-title-1">
					
				</span>
			</div>


			<%# render 'shared/error_messages' %>
			<div class="profile-card" style="float: none; height: auto; margin: auto; padding-bottom: 30px;">
			<div class="image" style="cursor: initial;">
					<% if !@profile.profile_image.profile.url.nil? %>
						<div class="profile-thumbnail" style="background-image: url('<%=@profile.profile_image.profile.url%>')">
					<% else %>
						<div class="profile-thumbnail" style="background-image: url('/default-dog.png')">
					<% end %>
					</div>
					<div class="circle-1">
					</div>
						<div class="circle-2"></div>
				</div>
			</div>

				<%= form_for(@profile, :url => edit_pet_type_path, html: { class: 'login100-form validate-form', novalidate: true }) do |f| %>
				
				<%# render 'shared/error_messages' %>
	

  			<div class="field wrap-input100 validate-input m-b-26">
					<span class="label-input100" style="font-size: 12px; width:90px;">Name</span>
    			<%= f.text_field :name, class: "input100", autocomplete: "name", placeholder: "Enter Pet name" %>
					<span class="focus-input100"></span>
  			</div>

				<div class="field wrap-input100 validate-input m-b-26">
    			<%# f.label :email %>
					<span class="label-input100" style="font-size: 12px; width:90px;">Animal</span>
    			<%= f.text_field :animal, class: "input100", autocomplete: "animal", placeholder: "Enter animal type" %>
					<span class="focus-input100"></span>
  			</div>
	
				<div class="actions container-login100-form-btn">
  				<%= f.submit "Submit", class: "login100-form-btn" %>
  			</div>

			<% end %>

				<span class="btn-link"> <%= link_to "Skip", discover_path, class: "btn btn-default skip" %></span>

				</div>

		</div>
	</div>
</div>	

