<%= javascript_include_tag "image_modal" %>
<%= javascript_include_tag "relationships_modal" %>
<%= javascript_include_tag "relationships" %>
<%= javascript_include_tag "post_settings_modal" %>
<%= render 'shared/main_nav_bar' %>
<%= render 'shared/image_upload_modal' %>
<div id="profile-body">
<div class="container">
	<div class="frame" style="margin-bottom: 100px;">
		<div class="center-card first-card">
			<div class="profile-card">			
				<div class="image">
					<% if !@profile.profile_image.profile.url.nil? %>
						<div class="profile-thumbnail" style="background-image: url('<%=@profile.profile_image.profile.url%>')">
					<% else %>
						<div class="profile-thumbnail" style="background-image: url('/default-dog.png')">
					<% end %>
						<span class="glyphicon glyphicon-camera">
						</span>
					</div>
					<div class="circle-1">
					</div>

					<% if current_profile == @profile %>
						<%= form_for @profile, :url => update_profile_image_path, html: { multipart: true, class: "profile-img-edit" } do |f| %>
							<label style="cursor: pointer;">
								<div class="circle-2"></div>
								<%=f.file_field :profile_image, class: "profile-img-file" %>
							</label>
						<% end %>
					<% else %>
						<div class="circle-2"></div>
					<% end %>
				</div>

				<div class="card-name"><%=@profile.name%></div>
				<div class="card-animal"><%=@profile.animal%></div>
				<span class="card-animal" style="position: relative; padding-top: 10px; margin-top: 10px;"><%=@profile.bio%></span>

				<% if current_profile == @profile %>
					<div class="card-actions">
						<%= button_to "Edit Profile", edit_profile_path(@profile), :method => "get", class: "card-btn" %>
					</div>
				<% else %>
					<div class="card-actions">
						<button class="card-btn">Follow</button>	
					</div>
				<% end %>
			</div>
		
			<div class="card-stats">
				<div class="card-box card-box-posts">
					<span class="card-value"><%=@profile.posts.count%></span>
					<span class="card-parameter">Posts</span>
				</div>
				
				<% if @profile.followers.count == 0 %>
					<div class="card-box" style="cursor: default;" id="followers-<%=@profile.id%>">
				<% else %>
					<div class="card-box followers-modal-toggle" id="followers-<%=@profile.id%>">
				<% end %>
					<span class="card-value"><%=@profile.followers.count%></span>
					<span class="card-parameter">Followers</span>
				</div>

				
				<% if @profile.following.count == 0 %>
					<div class="card-box" style="cursor: default;" id="following-<%=@profile.id%>">
				<% else %>
					<div class="card-box following-modal-toggle" id="following-<%=@profile.id%>">
				<% end %>
					<span class="card-value"><%=@profile.following.count%></span>
					<span class="card-parameter">Following</span>
				</div>
			</div>
  	</div><br>
		<a href="<%=destroy_user_session_path%>" data-method="delete"> <button type="button" class="btn btn-default btn-cirlce" title="Log out"><i class="glyphicon glyphicon-log-out"></i></button></a>
	</div>




<!--

<article>
	<section>
		<div class="content">
			<div class="header">
				<div class="header_img">
					<div class="header_img-container">
						
						<img src="/me.jpg" alt="profile img"/>
						<div class="avatar">
							<%# form_for(@profile, :url => profile_path(@profile)) do |f| %>
								<label class="avatar_change" for="profile_image">
									<input type="file" name="profile_image" id="photo" style="height: auto;">
								</label>
							<%# end %>
						</div>
					</div>
				</div>
				<div class="header_data">
					<div class="header_data-name">
						<h2><%# @profile.username %></h2>
						<%# link_to "Edit Profile", edit_profile_path(@profile), class: "edit-profile" %>
					</div>
					<div class="profile-stats">
						<a class="profile-posts">
							<div class="profile-stat-number"><%#@profile.posts.count %></div>
							<span>posts</span>
						</a>
						<a class="profile-followers">
							<div class="profile-stat-number"><%#@profile.followers.count %></div>
							<span id="followers-toggle" data-toggle="modal" data-target="#followers-modal">followers</span>
						</a>
						<a class="profile-following">
							<div class="profile-stat-number"><%#@profile.following.count %></div>
							<span id="following-toggle" data-toggle="modal" data-target="#following-modal">following</span>
						</a>
					</div>
					<div class="profile-info">
						<h4 class="profile-name"><%#@profile.name%></h4>
						<span><%#@profile.bio%></span><br>
						<h4 class="profile-name"><%#@profile.animal%></h4>
					</div>
				</div>
			</div>
		</div>
	</section>
</article>
-->

<div class="row profile-posts-gallery">
	<% @profile.posts.order(created_at: :desc).each do |post| %>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
			<a>
				<div class="profile-post-container" id="post-container-<%=post.id%>">
				<%= image_tag post.image.profile_post.url, class: "profile-post-img img-responsive" %>
				<div class="img-hover-buttons">
						<p>	<%=image_tag "/dog-pawprint-on-a-heart3.png", class: "img-hover-heart"%> <span class="img-hover-likes">&nbsp;<%=post.get_upvotes.size%></span>
							&nbsp;<span class="img-hover-comment glyphicon glyphicon-comment"></span>&nbsp;<span class="img-hover-comments"><%=post.comments.count%></span>
						</p>
			
				</div>
				</div>
			</a>
		</div>
	<% end %>
</div>
</div>
</div>
<div class="page-overlay"></div>
