<div id="profile-body">
<div class="container">
	<div class="frame" style="margin-bottom: 100px;">
		<div class="center-card first-card">
			<div class="profile-card">
				<p class="profile-card-username"><%=@profile.username%></p>
				<div class="image">
					<% if !@profile.profile_image.profile.url.nil? %>
						<div class="profile-thumbnail" style="background-image: url('<%=@profile.profile_image.profile.url%>')">
					<% else %>
						<div class="profile-thumbnail" style="background-image: url('/default-dog.png')">
					<% end %>
						<span class="glyphicon glyphicon-camera">
						</span>
					</div>
					<div class="circle-1">
					</div>

					<% if current_profile == @profile %>
						<%= form_for @profile, :url => update_profile_image_path(:path => 'show'), html: { multipart: true, class: "profile-img-edit" } do |f| %>
							<label style="cursor: pointer;">
								<div class="circle-2"></div>
								<%=f.file_field :profile_image, class: "profile-img-file", accept: 'image/jpeg,image/jpg,image/gif,image/png' %>
							</label>
						<% end %>
					<% else %>
						<div class="circle-2"></div>
					<% end %>
				</div>

				<div class="card-name"><%=@profile.name%></div>
				<div class="card-animal"><%=@profile.animal%></div>
				<span class="card-animal card-bio" style="position: relative; padding-top: 10px; margin-top: 10px;"><%=@profile.bio%></span>

				<% if current_profile == @profile %>
					<div class="card-actions">
						<%= button_to "Edit Profile", edit_profile_path(@profile), :method => "get", class: "card-btn" %>
					</div>
				<% else %>
					<div class="card-actions card-actions-<%=@profile.id%>">
						<% if current_profile.following?(@profile) %>
											<button class="card-btn unfollow-btn following-btn-<%=@profile.id%>" id= "following-btn-<%=@profile.id%>">Unfollow</button>
											<%# button_to "Unfollow", unfollow_path( :followed => profile.id ), :method => :delete, :class => "card-btn unfollow-btn", :id => "following-btn-#{profile.id}", :remote => true %>
										<% else %>
											<%# button_to "Follow", follow_path( :followed => profile.id ), :method => :post, :class => "card-btn follow-btn" :id => "follow-btn-#{profile.id}", :remote => true %>
											<button class="card-btn follow-btn follow-btn-<%=@profile.id%>" id= "follow-btn-<%=@profile.id%>">Follow</button>
										<% end %>

					</div>
				<% end %>
			</div>
		
			<div class="card-stats">
				<div class="card-box card-box-posts">
					<span class="card-value"><%=@profile.posts.count%></span>
					<span class="card-parameter">Posts</span>
				</div>
				
				<% if @profile.followers.count == 0 %>
					<div class="card-box" style="cursor: default;" id="followers-<%=@profile.id%>">
				<% else %>
					<div class="card-box followers-modal-toggle" id="followers-<%=@profile.id%>">
				<% end %>
					<span class="card-value"><%=@profile.followers.count%></span>
					<span class="card-parameter">Followers</span>
				</div>

				
				<% if @profile.following.count == 0 %>
					<div class="card-box" style="cursor: default;" id="following-<%=@profile.id%>">
				<% else %>
					<div class="card-box following-modal-toggle" id="following-<%=@profile.id%>">
				<% end %>
					<span class="card-value"><%=@profile.following.count%></span>
					<span class="card-parameter">Following</span>
				</div>
			</div>
  	</div><br>
		<a href="<%=destroy_user_session_path%>" data-method="delete"> <button type="button" class="btn btn-default btn-cirlce" title="Log out"><i class="glyphicon glyphicon-log-out"></i></button></a>
	</div>

<div class="row profile-posts-gallery">
	<% @profile.posts.order(created_at: :desc).each do |post| %>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
			<a>
				<div class="profile-post-container" id="post-container-<%=post.id%>">
				<%= image_tag post.image.profile_post.url, class: "profile-post-img img-responsive" %>
				<div class="img-hover-buttons">
						<p>	<%=image_tag "/dog-pawprint-on-a-heart3.png", class: "img-hover-heart"%> <span class="img-hover-likes">&nbsp;<%=post.get_upvotes.size%></span>
							&nbsp;<span class="img-hover-comment glyphicon glyphicon-comment"></span>&nbsp;<span class="img-hover-comments"><%=post.comments.count%></span>
						</p>
			
				</div>
				</div>
			</a>
		</div>
	<% end %>
</div>
</div>
</div>
