<% provide(:title, "Change Password") %>
<%= render 'shared/main_nav_bar' %>
<%= render 'shared/image_upload_modal' %>

<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100 main-form-container">

			<%= render 'shared/edit_account_header' %>	

			<%= form_for(resource, as: resource_name, url: edit_user_registration_path(current_user.id), html: { method: :patch, class: 'login100-form validate-form' }) do |f| %>
  			
				<%= render 'shared/error_messages' %>
	
  			<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    			<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  			<% end %>

  			<div class="field wrap-input100 validate-input m-b-18">
    			<!--<%# f.label :password %> <i>(leave blank if you don't want to change it)</i><br />-->
					<span class="label-input100" style="font-size: 12px; width:90px;">New Password</span>
    			<%= f.password_field :password, autocomplete: "off", class: "input100", placeholder: "Enter new password" %>
					<span class="focus-input100"></span>
  			</div>

  			<div class="field wrap-input100 validate-input m-b-18">
    			<%# f.label :password_confirmation %>
					<span class="label-input100" style="font-size: 12px; width:90px;">Confirm New Password</span>
    			<%= f.password_field :password_confirmation, autocomplete: "off", class: "input100", placeholder: "Confirm new password" %>
					<span class="focus-input100"></span>
  			</div>

  			<div class="field wrap-input100 validate-input m-b-18">
    			<!--<%# f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />-->
					<span class="label-input100" style="font-size: 12px; width:90px;">Current Password</span>
    			<%= f.password_field :current_password, autocomplete: "off", class: "input100", placeholder: "Enter current password" %>
					<span class="focus-input100"></span>
  			</div>

				<div class="actions container-login100-form-btn">
  				<%= f.submit "Change Password", class: "login100-form-btn" %>
  			</div>


  			<!--<div class="actions">
    			<%# f.submit "Update" %>
  			</div>-->

			<% end %>	
		</div>
	</div>
</div>	

