<div class="limiter profile-selection-page">
	<div class="container-login100">
		<div class="wrap-login100 main-form-container">
			<%= render 'shared/edit_account_header' %>
			<div class="profiles-gate-container">
				
					<span class="login100-form-title-1" id="select-profile-label">
					Select Profile
				</span>

						<% @user.profiles.each do |profile| %>
							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-4 profile-btn-container"> 
								<a class="profile-link" href="<%=change_profile_path(:id => profile.id)%>">

								<div class="profile-img-container">
									<% if profile.profile_image.profile.url %>
									<img src="<%=profile.profile_image.profile_post2.url%>">
									<% else %>
										<img src="/profile_icons/28.png">
									<% end %>
								</div>
								</a>
								<p><%=profile.username%></p>
							</div>
						<% end %>


						<div class="col-md-3 col-lg-3 col-sm-3 col-xs-4 profile-btn-container"> 
							<a class="profile-link" href="<%=new_profile_path%>">

								<div class="profile-img-container">
									<img class = "add-profile-icon" src="/add-profile-icon.svg">
								</div>
							</a>
							<p>Add Profile</p>
						</div>







						<!--<span class="login100-form-btn">
						<a href=<%#user_path(current_user)%>>Go back</a
					</span>-->
					<form style="clear: both;"action=<%=delete_profiles_path%> method="get">
					<input type="submit" name="commit" value="Manage Profiles" class="login100-form-btn">
				</form>
			</div>
		</div>
	</div>
</div>
