<div class="modal fade in followers-modal" id="followers-modal" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close-btn"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title"> Followers </h4>
		</div>
		<div class="modal-body notifications-body relationships-body">
			<ul>
				<% @user_profile.followers.each do |follower| %>
					<li class="profile-li">
						<div class="profile-item-container">
							<div class="profile-info-container">
								<a href="<%=profile_path(follower.id)%>"class="profile-thumb-container">
									<% if follower.profile_image.profile_post2.url %>
										<img class="profile-thumb" src="<%=follower.profile_image.profile_post2.url%>">
									<% else %>
										<img class="profile-thumb" src="/profile_default.png"></img>
									<% end %>

								</a>
								<div class="profile-information-container">
									<div class="profile-information-username">
										<a href="<%=profile_path(follower.id)%>"class="username-link"><%=follower.username%></a>
									</div>
									<div class="profile-information-name"><%=follower.name%></div>
								</div>
								
							</div>
								<% if follower != current_profile %>				
								<div class="card-actions card-actions-<%=follower.id%>" style="float: right;">
										<% if current_profile.following?(follower) %>
											<button class="card-btn unfollow-btn following-btn-<%=follower.id%>" id= "following-btn-<%=follower.id%>">Unfollow</button>
											<%# button_to "Unfollow", unfollow_path( :followed => profile.id ), :method => :delete, :class => "card-btn unfollow-btn", :id => "following-btn-#{profile.id}", :remote => true %>
										<% else %>
											<%# button_to "Follow", follow_path( :followed => profile.id ), :method => :post, :class => "card-btn follow-btn" :id => "follow-btn-#{profile.id}", :remote => true %>
											<button class="card-btn follow-btn follow-btn-<%=follower.id%>" id= "follow-btn-<%=follower.id%>">Follow</button>
										<% end %>
									</div>
								<% end %>
								

							
						</div>
					</li>
				<% end %>
			</ul>
		</div>
		</div>
	</div>
</div>
