<div class="modal fade in following-modal" id="following-modal" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close-btn"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>

			<h4 class="modal-title"> Following </h4>
		</div>
		<div class="modal-body notifications-body relationships-body">
			<ul>
				<% @user_profile.following.each do |following| %>
					<li class="profile-li">
						<div class="profile-item-container">
							<div class="profile-info-container">
								<a href="<%=profile_path(following.id)%>"class="profile-thumb-container">
									<img class="profile-thumb" src="/profile_default.png"></img>
								</a>
								<div class="profile-information-container">
									<div class="profile-information-username">
										<a href="<%=profile_path(following.id)%>"class="username-link"><%=following.username%></a>
									</div>
									<div class="profile-information-name"><%=following.name%></div>
								</div>
								
							</div>
							<div class="card-actions card-actions-<%=following.id%>" style="float: right;">
										<% if current_profile.following?(following) %>
											<button class="card-btn unfollow-btn following-btn-<%=following.id%>" id= "following-btn-<%=following.id%>">Unfollow</button>
											<%# button_to "Unfollow", unfollow_path( :followed => profile.id ), :method => :delete, :class => "card-btn unfollow-btn", :id => "following-btn-#{profile.id}", :remote => true %>
										<% else %>
											<%# button_to "Follow", follow_path( :followed => profile.id ), :method => :post, :class => "card-btn follow-btn" :id => "follow-btn-#{profile.id}", :remote => true %>
											<button class="card-btn follow-btn follow-btn-<%=following.id%>" id= "follow-btn-<%=following.id%>">Follow</button>
										<% end %>
									</div>

						</div>
					</li>
				<% end %>
			</ul>
		</div>
		</div>
	</div>
</div>
