<div class="modal fade in img-modal" id="image-modal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8 modal-image">
          	<img class="clicked-img img-responsive" src="<%= @post.image.profile_post1.url %>">
						<% if @prev %>
            	<a class="img-modal-btn left" id="left-<%=@prev%>"><i class="glyphicon glyphicon-chevron-left"></i></a>
						<% end %>
						<% if @next %>
            	<a class="img-modal-btn right" id="right-<%=@next%>"><i class="glyphicon glyphicon-chevron-right"></i></a>
						<% end %>
          </div>
          <div class="col-md-4 modal-meta">
            <div class="modal-meta-top">
              <button type="button" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
              <div class="dont-break-out img-poster clearfix">
								<% if !@post.profile.profile_image.profile.url.nil? %>
                	<a href=""><img class="img-circle" src="<%=@post.profile.profile_image.profile.url%>"/></a>
								<% else %>
									<a href=""><img class="img-circle" src="/default-dog.png"/></a>
								<% end %>
                <strong><a href=""><%=@post.profile.name%></a></strong>
                <span><%= time_ago_in_words(@post.created_at) %> ago</span><br>
								
								<div class="like-container">
									<a class="vote-call" id="like-<%=@post.id%>"href=""><%= image_tag "/dog-pawprint-on-a-heart.png", style: "float: left; margin-right: 15px;" %>
									<% if current_profile.liked? @post %>
										<div class="like-btn like-btn<%=@post.id%> liked">
									<% else %>
										<div class="like-btn like-btn<%=@post.id%>">
									<% end %>
											<img src="/dog-pawprint-on-a-heart1.png" style="width: 25px; height: auto;">
										</div>
									</a>
								</div>&nbsp;&nbsp;
								<span class="bold-text likes-count-<%=@post.id%>"> <%=@post.get_upvotes.size%> <%="like".pluralize(@post.get_upvotes.size)%></span>
								
								<% if current_profile == @post.profile %>
									<span title="Post settings" class="glyphicon glyphicon-cog" style="float: right;"></span>
								<% end %>

								
								<p><%=@post.description.strip()%></p>

              </div>
							<% if @post.comments.size > 10 %>
									<p class="more-comments-link" id="more-comments-<%=@post.id%>" style="padding: 20px 20px 0 20px; text-align: center; font-family: Poppins-Bold; font-size: 1em; font-weight: 900;">Load more comments</p>
							<% end %>

							<ul class="dont-break-out comment-section img-comment-list img-comment-list-<%=@post.id%>">

								<% @post.comments.order(created_at: :desc)[0..9].reverse.each do |comment| %>
                	<li id="comment-<%=comment.id%>">
                  	<div class="comment-img">
                    	<% if !comment.profile.profile_image.profile.url.nil? %>
                				<a href=""><img src="<%=comment.profile.profile_image.profile.url%>"/></a>
											<% else %>
												<a href=""><img src="/default-dog.png"/></a>
											<% end %>
                  	</div>
                  	<div class="comment-text">
                    	<strong><a href=""><%=comment.profile.username%></a></strong>
                    	<p><%=comment.content.strip()%></p> <span class="date sub-text">on <%= comment.created_at.strftime("%a, %d %b %Y, %I:%M %P") %></span>
                  	</div>

										<% if current_profile == comment.profile %>
												
												<span class="glyphicon glyphicon-remove" id="comment-delete-<%=comment.id%>"></span>
										<% end %>

                	</li>
								<% end %>
              </ul>
            </div>
            <div class="modal-meta-bottom">
							<form>
              <textarea name="content" class="comment-text-area" id="comment-text-area-<%=@post.id%>"style="border: none; height: 34px; outline: none; padding: 0; padding-top: 3%;margin-bottom: 0; font-family: inherit;" placeholder="Leave a commment.."/>
							<input type = "hidden" name="post_id" value="<%=@post.id%>">
							<input type="hidden" name="profile_id" value = "<%=current_profile.id %>">
							</form>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
