<!DOCTYPE html>
<html>
  <head>
    <title>Petgram</title>
    <%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <%= stylesheet_link_tag    'application', media: 'all', 
															'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 
																'data-turbolinks-track': 'reload' %>
		<% javascripts = page_specific_javascripts %>
		<% if !javascripts.nil? %>
			<% javascripts.each do |i| %> 
				<%= javascript_include_tag i, 'data-turbolinks-track': 'reload' %>
			<% end %>
		<% end %>
		<% if Rails.env.test? %>
 			<style type="text/css">
    		.modal.fade, .fade {
      		-webkit-transition: opacity 0.01s;
      		-moz-transition: opacity 0.01s;
      		-ms-transition: opacity 0.01s;
      		-o-transition: opacity 0.01s;
      		transition: opacity 0.01s;
    		}
				div, a, span, footer, header {
      -webkit-transition: none !important;
      -moz-transition: none !important;
      -ms-transition: none !important;
      -o-transition: none !important;
      transition: none !important;
  }

  .modal, #image-upload-modal {
   
  }

  
  .modal-backdrop {
    display: none !important;
  }
 			</style>
		<%end%>
  </head>

  <body>
		<%= render 'shared/main_nav_bar' %>
		<%= render 'shared/image_upload_modal' %>
		<%= render 'shared/notifications' %>
		<div class="page-overlay"></div>

    <%= yield %>
		<% if Rails.env.test? %>
		<script>
			$(".fade").removeClass("fade");
		</script>
		<% end %>
  </body>
</html>
