<!DOCTYPE html>
<html>
  <head>
    <title>Petgram</title>
    <%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <%= stylesheet_link_tag    'application', media: 'all', 
															'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 
																'data-turbolinks-track': 'reload' %>
		<% javascripts = page_specific_javascripts %>
		<% if !javascripts.nil? %>
			<% javascripts.each do |i| %> 
				<%= javascript_include_tag i, 'data-turbolinks-track': 'reload' %>
			<% end %>
		<% end %>
  </head>

  <body>
		<%= render 'shared/main_nav_bar' %>
		<%= render 'shared/image_upload_modal' %>
		<%= render 'shared/notifications' %>
		<div class="page-overlay"></div>

    <%= yield %>
  </body>
</html>
